name: Python
on: push
env:
  PROXY: proxy.zyte.com:8011
  KEY: ${{secrets.KEY}}
  URL: https://httpbin.scrapinghub.com/ip
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make py-requests
      - run: make py-scrapy
