name: rust
on: [push, pull_request]
env:
  PROXY: proxy.zyte.com:8014
  URL: https://httpbin.scrapinghub.com/ip
  KEY: ${{secrets.KEY}}
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: make $GITHUB_WORKFLOW
